{% extends 'base.html' %}{% load static %} {% block title %} Home page
{%endblock %} {%block content %}
<div class="container-fluid pt-5 ps-5">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div
          class="col-md-5 pt-3 ps-3 pe-3 pb-3"
          style="
            background-color: rgb(40, 180, 180);
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            color: white;
          "
        >
          <h5 style="padding-bottom: 10px">Register User</h5>
          <h2 style="padding-bottom: 30px">{{user}}</h2>
        </div>
        <div
          class="col-md-5 pt-3 ps-3 pe-3 pb-3"
          style="
            background-color: rgb(223, 48, 48);
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            color: white;
          "
        >
          <h5 style="padding-bottom: 10px">Products(For sell)</h5>
          <h2 style="padding-bottom: 30px">{{total_product}}</h2>
        </div>
        <div
          class="col-md-5 pt-3 ps-3 pe-3 pb-3"
          style="
            background-color: rgb(223, 31, 136);
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            color: white;
          "
        >
          <h5 style="padding-bottom: 10px">Products(In store)</h5>
          <h2 style="padding-bottom: 30px">{{store}}</h2>
        </div>
        <div
          class="col-md-5 pt-3 ps-3 pe-3 pb-3"
          style="
            background-color: rgb(17, 172, 76);
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            color: white;
          "
        >
          <h5 style="padding-bottom: 10px">Total Sales till Date</h5>
          <h2 style="padding-bottom: 30px">{{total_sum}}</h2>
        </div>
        <div
          class="col-md-5 pt-3 ps-3 pe-3 pb-3"
          style="
            background-color: rgb(198, 211, 24);
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            color: white;
          "
        >
          <h5 style="padding-bottom: 10px">Total Sales(Yesterday)</h5>
          <h2 style="padding-bottom: 30px">{{yesterday_sum}}</h2>
        </div>
        <div
          class="col-md-5 pt-3 ps-3 pe-3 pb-3"
          style="
            background-color: rgb(180, 40, 40);
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
            color: white;
          "
        >
          <h5 style="padding-bottom: 10px">Total Sales(Today)</h5>
          <h2 style="padding-bottom: 30px">{{today_sum}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 pt-4 ps-5" style="text-align: center">
      <img
        src="{% static 'pic.png' %}"
        alt="Farm Picture"
        width="370px"
        height="170px"
      />

      <!-- <img src="{% static 'pic.png' %}" alt="" /> -->
    </div>
  </div>
</div>
{% endblock %}
