{% extends 'base.html' %} {% load static %} {% block title %}PMS | Store Items
{% endblock %} {%block content %}

<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-4"><h2>Farm Store</h2></div>
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: right">
      <a
        href=""
        class="btn btn-success"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#NewItem"
        >New Entry</a
      >
      <a href="" class="btn btn-dark" style="background-color: rgb(56, 63, 56)"
        >Stock In</a
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4"><h5>List of item Stocked in store.</h5></div>
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: right">
      <form action="" method="get">
        <input type="text" name="search" id="search" placeholder="search" />
        <button>search</button>
      </form>
    </div>
    <div class="pt-5 container">
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Item</th>
          <th>Quantity Remaining</th>
          <th>Rate</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
        {% for item in stock %}
        <tr>
          <td>{{item.date}}</td>
          <td>{{item.item.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.total}}</td>
          <td>
            <a
              href="/store/pickout/{{item.id}}"
              class="btn btn-dark"
              style="background: red"
              >Pick out</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <section class="pt-4">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a
            href="?page={{ page_obj.previous_page_number }}"
            class="btn"
            style="border: 1px solid grey; margin: 0px"
            >Previous Page</a
          >
          {% else %}
          <a href="" class="btn" style="border: 1px solid grey; margin: 0px"
            >Previous Page</a
          >
          {% endif %}

          <span
            class="current"
            style="
              color: blue;
              font-weight: bold;
              padding: 7px 12px;
              font-size: larger;
            "
          >
            {{ page_obj.number }}
          </span>

          {% if page_obj.has_next %}
          <a
            href="?page={{ page_obj.next_page_number }}"
            class="btn"
            style="border: 1px solid grey; margin: 0px"
            >Next Page</a
          >
          {% endif %}
        </span>
      </div>
    </section>
  </div>
</div>
<!-- check out section -->
<section>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#MyModal"
  >
    Lauch modal
  </button>
  <div
    class="modal fade"
    id="MyModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="MyModalTitle"
    aria-hidden="True"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="model-title" id="MyModalTitle">Pick out Item</h5>
          <button
            class="close"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
          <form action="/store/pickout" method="POST">
            <input
              type="datetime-local"
              name="date"
              id="date"
              class="form-control"
            />
            <br />
            <input
              type="text"
              name="item"
              class="form-control"
              placeholder="item name"
            />
            <br />
            <input
              type="text"
              name="quantity"
              placeholder="quantity"
              class="form-control"
            />
            {% csrf_token %}
            <button>Pick out</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- new item modal -->
<section>
  <div
    class="modal fade"
    id="NewItem"
    tabindex="-1"
    role="dialog"
    aria-labelledby="NewItemTitle"
    aria-hidden="True"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="model-title" id="NewItemTitle">Pick out Item</h5>
          <button
            class="close"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
          <form action="/store/add/item" method="POST">
            <input
              type="text"
              name="item"
              class="form-control"
              placeholder="item name"
            />
            <br />
            <input
              type="text"
              name="description"
              placeholder="description"
              class="form-control"
            />
            {% csrf_token %}
            <br />
            <button class="btn btn-success">Add Entry</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
